.hcss{
    color:blue;
}
.pcss{
    color:rgb(218, 12, 218);
}
P{
    font-weight: bold;
}
.divcss{
    box-shadow: 2px 3px 3px grey;
    margin: 30px 40px;
    border-radius: 4px;
    padding: 15px;
    background-color: rgb(236, 83, 83);
}